@model Typer.ViewModels.Views.Manage.VMManageIndex
<div>
    @using (Html.BeginForm("ChangeDetails", "Manage", FormMethod.Post))
    {
        @Html.DisplayTextFor(x => x.Username)
        @Html.ActionLink("Change your password", "ChangePassword")
        @Html.EditorFor(x => x.Name, new { htmlAttributes = new { placeholder = Model.Name } });
        @Html.EditorFor(x => x.Surname, new { htmlattribute = new { placeholder = Model.Surname } })
        @Html.DisplayTextFor(x => x.Email) @Html.ActionLink("Change", "ChangeEmail")
        @Html.DropDownListFor(x => x.FavoriteTeamId, Model.SelectListTeams, new { htmlattribute = new { @selected = Model.FavoriteTeamId } })
        <input type="submit" value="zapisz"/>
        
    }
</div>
