@model Typer.ViewModels.Views.AdminMatch.VMAdminMatchCreate


<h2>Dodaj mecz</h2>

<div class="col-md-6">
    @using (Html.BeginForm("Create", "AdminMatch", FormMethod.Post))
    {
        <div class="form-group row">
            @Html.DropDownListFor(x => x.SeasonId, Model.Seasons, new { @id = "seasonList" })
        </div>
        <div class="form-group row">
            @Html.DropDownListFor(x => x.MatchweekId, Model.Matchweeks, new { @id = "matchweekList" })
        </div>
        <div class="form-group row">
            @Html.DropDownListFor(x => x.HomeTeamId, Model.Teams)
        </div>
        <div class="form-group row">
            @Html.DropDownListFor(x => x.AwayTeamId, Model.Teams)
        </div>
        <div class="form-group row">
            <input type="text" class="form-control" name="MatchDate" id="MatchDate" data-toggle="datepicker">
        </div>
        <button type="submit">Zapisz</button>
    }
</div>

<script>
    $(function () {
        $('[data-toggle="datepicker"]').datepicker({
            autoHide: true,
            autoPick: true,
            date: @DateTime.Now.ToBinary(),
            format: 'yyyy-mm-dd'
        });
    });

    $(document).ready(function () {        
        loadMatchweeks();        
    })

    $("#seasonList").change(function () {
        loadMatchweeks();
    })

    function loadMatchweeks()
    {
        var seasonId = $("#seasonList").val();
        $.ajax
            ({
                type: 'POST',
                url: '@Url.Action("GetGameweekList")',
                dataType: 'json',
                data: { seasonId: seasonId },
                success: function (response)
                {
                    var matchweeks = $("#matchweekList");
                    matchweeks.empty();
                    $.each(response, function (index, item) {
                        var option = $('<option/>');
                        option.attr({ 'value': item.Value }).text(item.Text);
                        matchweeks.append(option);
                    });
                }
            })
    }

</script>
